<% provide(:title, 'Tournamnet') %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@tournament, url: tournaments_path) do |f| %>

      <%= f.label :name, "Pick a nice name for your tournament" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label "Do you want it to be private?"%>
      <%= check_box_tag 'private', true, true %>

      <p><%= f.submit "Create tournament", class: "btn btn-primary" %></p>
    <% end %>
  </div>
</div>
